@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700;9..40,800&family=Roboto:wght@300;400;500;700;900&display=swap");
*{
    padding: 0;
    margin: 0;
}

.main--screen {
  display: flex;
}
.right--side {
  width: 55vw;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.login--image {
  width: 45vw;
  height: 100vh;
}
.side--image {
  position: relative;
}
.fields
{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.email
{
    width: 399px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #C2C2C2;
    background: #FFF;
}
.email::placeholder
{
    padding-left: 20px;
    color: #525252;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 144.023%; /* 28.805px */
}
.password
{
    width: 399px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #C2C2C2;
    background: #FFF;
}
.password::placeholder
{
    padding-left: 20px;
    color: #525252;
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 144.023%; /* 28.805px */
}
.login--button
{
    width: 147px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #ED5353;
    border : none;
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 22.793px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.023%; /* 40.028px */
}
.image-text {
  position: absolute;
  top: 10%;
  left: 30%;
  transform: translate(-25%, -50%);
  color: #fff;
  text-align: center;
  font-family: DM Sans;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 122.023%;
}
.right--text
{
    color: #000;
    text-align: center;
    font-family: DM Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 144.023%; /* 57.609px */
}
.right--text--below
{
    color: #525252;
    text-align: center;
    font-family: DM Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 144.023%; /* 30.245px */
}